

<div class="mt-5">
  <h6>Formulaire Team</h6>
  <form [formGroup]="teamForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" formControlName="name" class="form-control">
    </div>
  
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6">
          <h5>Membres</h5>
          <div class="row">
            <div class="col-md-4" *ngFor="let member of members">
              
              <div class="form-check">
                <input class="form-check-input" type="checkbox"  formControlName="members" [value]="member.id"  id="{{ 'memberCheckbox' + member.id }}">
                <label class="form-check-label" for="{{ 'memberCheckbox' + member.id }}">
                  {{ member.name }}
                </label>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Missions</h5>
          <div class="row">
            <div class="col-md-4" *ngFor="let mission of missions">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="missions" [value]="mission.id" id="{{ 'missionCheckbox' + mission.id }}">
                <label class="form-check-label" for="{{ 'missionCheckbox' + mission.id }}">
                  {{ mission.title }}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary " disabled>Envoyer</button>
  </form>
  
</div>

