<div class="mt-5">
  <div class="d-flex justify-content-center">
      <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" formControlName="name" class="form-control">
          </div>
          <div class="form-group">
            <label for="photo">Select Photo</label>
            <input type="file" id="photo" formControlName="photo"  (change)="onFileSelected($event)" accept="image/*"
              class="form-control-file form-control">
            <img *ngIf="selectedFile" [src]="selectedFile" alt="Selected Photo" class="rounded-image">
          </div>
          <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
  </div>
    
</div>