ul {
  list-style: none;
}


li {
  display: inline-block;
  margin-right: 20px;
}

a {

  cursor:pointer;
  color: white;
  text-decoration: none;
  font-weight: normal;
  &:hover {
    text-decoration: underline;

  }
}
