<form (submit)="onSubmit()" class="needs-validation mt-5" novalidate>
  <div class="mb-4">
      <h4>Formulaire Mission</h4>
  </div>
  <div class="form-group row">
    <label for="title" class="col-sm-3 col-form-label">Titre</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="title" [(ngModel)]="newMission.title" name="title" required>
      <div class="invalid-feedback">
        Le titre est requis.
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label for="description" class="col-sm-3 col-form-label">Description</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="description" [(ngModel)]="newMission.description" name="description" required>
    </div>
  </div>

  <div class="form-group row">
    <label for="color" class="col-sm-3 col-form-label">Couleur</label>
    <div class="col-sm-9">
      <input type="color" class="form-control" id="color" [(ngModel)]="newMission.color" name="color" required>
    </div>
  </div>

  
    
    


  <div class="form-group row">
      <label for="startDate" class="col-sm-3 col-form-label">Date debut</label>
      <div class="col-sm-9">
        <input type="date" class="form-control" id="startDate" [(ngModel)]="newMission.startDate" name="startDate" required>
      </div>
    </div>


    <div class="form-group row">
        <label for="endDate" class="col-sm-3 col-form-label">Date fin</label>
        <div class="col-sm-9">
          <input type="date" class="form-control" id="endDate" [(ngModel)]="newMission.endDate" name="endDate" required>
        </div>
      </div>

  <div class="form-group">
    <div class="float-right">
      <button type="submit" class="btn btn-success">Envoyer</button>
    </div>
  </div>
</form>


<!-- <div class="form-group row">
      <label for="team" class="col-sm-3 col-form-label">Team</label>
      <div class="col-sm-9">
        <select class="form-control" aria-label="Default select example" id="team" [(ngModel)]="newMission.teamId" name="teamId" required>
          <option *ngFor="let team of teams" [value]="team.id">{{ team.name }}</option>
        </select>
      </div>
    </div> -->