<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="../assets/image/11053.jpg" width="40" height="40" class="d-inline-block align-top ml-3" alt="Angular Logo">
    Planning
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendrier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/missions" routerLinkActive="active">Mission</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/member" routerLinkActive="active">Membre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" aria-label="Angular on Twitter" target="_blank" rel="noopener" href="https://twitter.com/angular">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!-- <app-header></app-header> -->
<div class="container px-6 py-5">
  <router-outlet></router-outlet>  
</div>


