
/* toolbar.component.css */
.navbar {
    /* border-radius: 0; */
    position: fixed; /* Fixer la position en haut de la page */
    top: 0; /* Fixer la barre de navigation en haut de la page */
    width: 100%; /* Occupera toute la largeur de l'écran */
    z-index: 1000; /* Assurez-vous que la barre de navigation est au-dessus du contenu */
    border-radius: 0; 
  }
  
  .navbar-brand img {
    margin-right: 10px;
  }
  
  .navbar-nav .nav-item .nav-link {
    padding: 8px 20px;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .navbar-nav .nav-item .nav-link.active {
    font-weight: bold;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3e%3cpath stroke="rgba(255, 255, 255, 0.8)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3e%3c/svg%3e');
  }
  
 