<!-- <button class="btn btn-success mt-5 mb-4" (click)="addMember()">Ajouter Membre</button>
<div class="row">
    <div class="col-md-4" *ngFor="let member of members">
      <mat-card class="member-card">
        <mat-card-header>
          <div mat-card-avatar class="member-avatar" [style.background-image]="'url(' + member.photoUrl + ')'"></div>
          <mat-card-title>{{ member.name }}</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>
   -->

   <button class="btn btn-success mt-5 mb-4" (click)="addMember()">Ajouter Membre</button>
   <div class="row">
    <div class="col-md-4" *ngFor="let member of members">
      <div class="member-card">
        <div class="member-avatar" [style.background-image]="'url(' + member.photoUrl + ')'"></div>
        <div class="member-name">{{ member.name }}</div>
      </div>
    </div>
  </div>
  