   .member-card {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .member-avatar {
    width: 100%;
    height: 120px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .member-name {
    padding: 10px;
    font-weight: bold;
  }
  