<button class="btn btn-success mt-5" (click)="addTeam()">Ajouter Team</button>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4" *ngFor="let team of teams">
      <div class="card">
        <div class="card-header">
          {{ team.name }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Membres :</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let memberId of team.members">
              {{ getMemberName(memberId) }}
            </li>
          </ul>

          <h5 class="card-title mt-3">Missions :</h5>
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let missionId of team.missions">
              {{ getMissionName(missionId) }}
            </li>
          </ul>
        </div>
        <!-- <div class="card-footer">
          <button class="btn btn-danger mr-3" (click)="deleteTeam(team.id)">Supprimer</button>
          <button class="btn btn-primary ml-6" (click)="editTeam(team.id)">Modifier</button>
        </div> -->
      </div>
    </div>
  </div>
</div>
