<button class="btn btn-success mt-5" (click)="addMission()">Ajouter mission</button>

<div class="mt-5">
    <div class="container mt-5">
        <div class="row">
          <div class="col-md-4" *ngFor="let mission of missions">
            <div class="card mb-4">
              <div class="card-body">
                <h5 class="card-title">{{ mission.title }}</h5>
                <p class="card-text">{{ mission.description }}</p>
                <p class="card-text">Start Date: {{ mission.startDate }}</p>
                <p class="card-text">End Date: {{ mission.endDate }}</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">ID: {{ mission.id }}</small>
                
                <button class="btn btn-danger btn-sm float-right ml-2" (click)="confirmDelete(mission.id)">
                    Supprimer
                  </button>
                <button class="btn btn-primary btn-sm float-right" (click)="editMission(mission.id)">
                  Modifier
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>


